@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #ffffff;
  background: #171717;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Nova Square", sans-serif;
}

.content {
  flex: 1;
  padding: 20px;
}